* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    margin: 20px;
}

nav {
    text-align: center;
}

h1 {
    font-size: 36px;
    text-align: center;
}
.img {
    background-color: lightgoldenrodyellow;
}