body {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    text-align: center;
}

div img {

}

nav {
    text-align: center;
}

title {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 72px;
    text-align: center;
}

ul {
    list-style: none;
}

.img {
    background-color: lightgoldenrodyellow;
}

grid {
    grid-template-columns: 100rem;
}