body {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    text-align: center;
}

div img {\
    width: 300px;
    height: 375px;
    
}

nav {
    text-align: center;
}

body h1 {
    display: flex;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 48px;
    text-align: center;
    height: 180px;
    width: 80%;
    background-color: darkblue;
    color: lightskyblue;
    align-items: center;
}

li {
    display: inline;
}
ul {
    list-style: none;
}

.img {
    background-color: lightgoldenrodyellow;
}

#grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    width: 100%;
}