h2 {
    font-size: 36pt;
}

table {
    width: 500px;
}

td, th {
    text-align: center;
    border: ridge 3px rebeccapurple;
}

th {
    background-color: lightseagreen;
}

.button {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}